body {
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(to bottom right, rgb(0, 247, 255), rgb(255, 103, 255))
    /* background-image: url('../images/product1.png'); */
}

h1 {
    font-family: 'Abril Fatface', cursive;
}

/* .lead a {
    margin-top: 100px;
} */

.btn-outline-dark {
    border-color: white;
}

.btn-learn:hover {
    background-color: rgb(255, 255, 255, 0.201);
}

